.cta {
  margin-bottom: 60px;
}

.cta-question {
  font-size: 32px;
  margin-bottom: 16px;
  color: hsl(var(--foreground));
}

.cta-link-container {
  margin-bottom: 16px;
}

.cta-link {
  color: hsl(var(--foreground));
  text-decoration: underline;
  font-size: 32px;
  cursor: pointer;
  transition: opacity ease-in 0.2s;
}

.cta-link:hover {
  opacity: 0.7;
}

.cta-message {
  font-size: 32px;
  color: hsl(var(--foreground));
  margin: 0;
}

@media (max-width: 768px) {
  .cta-question,
  .cta-link,
  .cta-message {
    font-size: 30px;
  }
}
