.team {
  margin-bottom: 60px;
}

.team-list {
  list-style: none;
  padding: 0;
}

.team-member {
  font-size: 32px;
  margin-bottom: 12px;
  color: hsl(var(--foreground));
}

.team-member:last-child {
  margin-bottom: 0;
}

.member-name {
  font-weight: 500;
}

.member-email {
  color: hsl(var(--foreground));
  text-decoration: underline;
  transition: opacity ease-in 0.2s;
}

.member-email:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .team-member {
    font-size: 30px;
  }
}
